body {
  padding: 1em;
  font-family: "Roboto", sans-serif;
}

#table-wrapper {
  overflow: scroll;
}

#report-table {
  white-space: nowrap;
}

#report-table thead tr th {
  top: 0;
  position: sticky;
  z-index: 20;
  vertical-align: middle;
}

#report-table tr,
#report-table th {
  vertical-align: middle;
}

th,
td {
  outline: 1px solid #e8e8e8;
  outline-offset: -1px;
}
